.columns.marquee {
  display: flex;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.rounded > div > .columns-img-col {
  align-self: flex-start;
}

.columns.rounded a:any-link {
  color: initial;
  text-decoration: underline;
}

.columns.rounded img {
  width: 300px;
  border-radius: 16px;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.marquee h1 {
  font-size: var(--heading-font-size-xl);
}

.columns.marquee h1:first-of-type{
  margin-bottom: 0;
}

.columns.marquee h1:nth-of-type(2) {
  margin-top: 0;
}

@media (min-width: 900px) {
  .columns.marquee h1 {
    font-size: var(--heading-font-size-xxl);
  }

  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (min-width: 900px) {
  .columns.rounded img {
    border-radius: 16px;
    width: 70%;
  }
}

@media (min-width: 1189px) {
  .columns-container {
    margin-top: 86px;
  }
}
